@use '../variables';

.sondevela-section-icons2 {
  .icons {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: variables.$gold-color;
    grid-column-gap: 70px;
    padding-bottom: 80px;

    .icon {
      display: grid;
      grid-template-columns: 1fr 5fr;

      div:first-child {
        display: flex;
        align-items: center;
      }

      div:nth-child(2) {
        padding-left: 15px;
      }

      h4 {
        margin: 0;
      }
    }
  }
}

